<a routerLink="page1">Page 1</a> | <a routerLink="page2/33">Page 2</a>
<br>
<br>
<button (click)="navigate()">Navigate to Page1</button>
<div></div>
<br>
<button (click)="navigateToPage2()">Navigete to Page2</button>
<div></div>
<br>
<button (click)="navigateToPage2WithQueryParams()">Navigete to Page2 With Query Params</button>
<div></div>
<br>
<button (click)="navigateByUrl()">Navigate by Url</button>
<div></div>
<br>
<button (click)="goBack()">Go Back</button>
<div></div>
<br>
<button (click)="goForward()">Go Forward</button>
<div></div>
<br>
<a routerLink="page2/8888" [queryParams]="{name: 'Joey', age: '41'}">Page2 with queryParams</a>
<router-outlet></router-outlet>